/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 371px;
}

input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #808080;
  opacity: 0.7;
}

button {
  padding: 8px 16px;
  height: 40px;
  max-width: 80px;

  font-weight: 500;
  font-size: 16px;
  color: #fff;

  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
}

button:hover {
  background: #6c8cff;
}

.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;

  margin: 24px auto;
}
.gallery-item {
  flex-basis: calc((100% - 72px) / 4);
  border: #808080 1px solid;
}

img {
  object-fit: cover;
  height: 200px;
}

.img-dscr {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}
.img-dscr li {
  text-align: center;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 45vh;
  left: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.loader.is-open {
  margin: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #4e75ff,
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.2),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.2),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.2),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.7),
      1.8em -1.8em 0 0em #4e75ff, 2.5em 0em 0 0em rgba(78, 117, 255, 0.2),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.2),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.2),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.5),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.7), 2.5em 0em 0 0em #4e75ff,
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.2),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.2),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.2),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.5),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.7), 1.75em 1.75em 0 0em #4e75ff,
      0em 2.5em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.2),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.2),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.5),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.7), 0em 2.5em 0 0em #4e75ff,
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.2),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.2),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.2),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.5),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.7), -1.8em 1.8em 0 0em #4e75ff,
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.2),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.2),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.2),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.7), -2.6em 0em 0 0em #4e75ff,
      -1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(78, 117, 255, 0.2),
      1.8em -1.8em 0 0em rgba(78, 117, 255, 0.2),
      2.5em 0em 0 0em rgba(78, 117, 255, 0.2),
      1.75em 1.75em 0 0em rgba(78, 117, 255, 0.2),
      0em 2.5em 0 0em rgba(78, 117, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(78, 117, 255, 0.5),
      -2.6em 0em 0 0em rgba(78, 117, 255, 0.7), -1.8em -1.8em 0 0em #4e75ff;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
